.nav-top{
	padding-top: 20px;
}

/*SPRITES NETWORK TOP*/
.rs_btn{
	background-image: url("../images/reseauxsociaux.svg");
	background-repeat: no-repeat;
	background-position:0 0;
	background-size: 130px 215px;
	height: 26px;
	width: 32px;
	display: block;
}

.rs_btn span{
	visibility: hidden;
}

.rs_btn:hover{
	background-position-y: -26px;
}

.fb{
	background-position: -32px 0;
}

.yt{
	background-position: -64px 0;
}

.inst{
	background-position: -96px 0;
}

.network{
	display: flex;
	padding-top: 10px;
	padding-left: 50px;
}

.network li a:hover{
	background-color: #fff;
}

/*SEARCH*/
.navbar-form{
	display: flex;
}

.form-control{
	font-family: 'Montserrat', sans-serif;
	border-radius: 40px;
}

.search{
	background-image: url("../images/search.svg");
	background-repeat: no-repeat;
	background-size: 45px 35px;
	height: 52px;
	width: 52px;
	display: block;
}

.search span{
	visibility: hidden;
}

/*CONNEXION*/
.connexion{
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 50px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.connexion p:hover{
	color:#ea5954;
	cursor: pointer;
	border-bottom: 1px solid #ea5954;
}

.flex_connexion{
	display: flex;
	justify-content: flex-end;
}

.glyphicon-user,.glyphicon-heart{
	font-size: 1.5em;
	color:#ea5954;
	padding-right: 5px;
}

/*MENU DROPDOWN*/
.menu{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-default{
	background-color: #fff;
	border: none;
}

.dropdown-menu li a{
	text-transform: uppercase;
}

.dropdown-menu li a:hover{
	background-color: #ea5954 !important;
	color: #fff;
}

.dropdown a:hover{
	background-color: #ea5954 !important;
	color: #fff !important;
}

.nav,.navbar-nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

/*TEST HEADER*/
.photo_header{
	background-color: #ea5954;
	height: 100vh;
}


































/* RESET PERSO */
a, a:hover {
	color: inherit;
	text-decoration:none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Insertion des différentes polices */
@font-face {
	font-family: "Montserrat-Thin";
	src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Montserrat-Light";
	src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Knewave-Regular";
	src: url("../fonts/Knewave-Regular.ttf");
}

@font-face {
	font-family: "Satisfy-Regular";
	src: url("../fonts/Satisfy-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}
/* ELEMENTS GRAPHIQUES */

/* Bouton "plus" rouge */
.buttonplusR {
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  padding: 1em;
  background-color: #f6917f;
}

/* Bouton "plus" bleu */
.buttonplusB {
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  padding: 1em;
  font-weight: normal;
  background-color: #8bacbb;
}

/* Boutons liens */

.btna {
  display: inline-block;
  text-transform: uppercase;
	font-family: Montserrat-Bold;
  font-size: 1.13em; /*18*/
  padding: 0.94em 1.44em; /*15px 23px*/
  background-color: #f6917f;
  color: #fff;
	transition: .2s;
	box-shadow: 1px 1px 5px 0px #f6917f;
	border-radius: 15px;
}

.btna:hover {
	background-color: #ea5954;
	color: #fff;
	transition: .2s;
}


/* Titre*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 3.13em; /*50px*/
  text-transform: uppercase;
  color: #adafb1;
	margin: 3.81em 6.25% 1.75em;
}

.border {
  overflow: hidden;
  text-align: center;
}

.border span {
  position: relative;
}

.border span:before, .border span:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #adafb1;
  width: 600px;
  top: 50%;
}

.border span:before {
  right: 100%;
  margin-right: 15px;
}

.border span:after {
  left: 100%;
  margin-left: 15px;
}

/*********** NOUS CONNAITRE ***********/
#knowus .number{
    margin-left: 6.25%;
    margin-right: 6.25%;
}

#knowus .col-md-3>p{
    text-align: center;
    color: #ea5954;
    font-family: "Knewave", sans-serif;
    text-transform: uppercase;
}

#knowus .col-md-3 p:first-child{
    font-size: 3.125rem; /*50px*/
}

#knowus .col-md-3 p:nth-child(2){
    font-size: 1.25rem; /*20px*/
    line-height: 5px;
}

#knowus .col-md-3 p:last-child{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #adafb1;
}

#knowus .col-md-6 p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem; /*24px*/
    color: #adafb1;
    line-height: 24px;
}

/*COLONNE TEXT*/
#knowus .text-col{
		margin: 1.88em 6.25% 2.5em;
}

/************ ACTUS A LA UNE ***********/

.wrapperslider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em; /*32*/
}

.newsslide figure {
	position: relative;
	max-width: 100%;
	height: auto;
}

.newsslide figcaption {
	position: absolute;
	bottom: 0px;
	background-color: rgba(255, 255, 255, .8);
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 30%;
	color: #000;
	font-size: .88em;
	text-transform: uppercase;
	font-family: Roboto-Regular;
	padding: 2%;

}

.newsslide figcaption p:first-child {
	text-transform: uppercase;
	font-family: Montserrat-Bold;
	font-size: 1.75em; /*28*/
}


/* ************************************* SECTION 4HEADS ************************/

.introduce {
  background-color: #154f6d;
  padding: 1.88em 8em; /*30px*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3.75em -15px; /*60*/
}
.fourheads {
  display: flex;
  flex-direction: column;
}
.fourheads {
  margin-right: 0.5em; /*8*/
}

.blockm {
  background-color: #f6917f;
}

.blockw {
  background-color: #8bacbb;
}
.introduce figure {
  position: relative;
  overflow: hidden;
}
.introduce figcaption {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2em;
  position: absolute;
  opacity: 0;
  background-color: rgba(255,255,255,.8);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.introduce figcaption span {
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  padding: 1em;
  font-weight: normal;
}

.introduce figcaption .plusm {
  background-color: #f6917f;
}

.introduce figcaption .plusw {
  background-color: #8bacbb;
}

.introduce figure:hover figcaption {
  opacity: 1;
  transform: translateY(-100%);
}
.introduce .rowdown {
  background-color: #fff;
  padding: 0.63em 0.94em 0.81em 0.38em;  /*10 15 13 6*/
  margin-top: 0.5em /*8*/
}

.introduce h6 {
  text-transform: uppercase;
  font-size: 0.63em; /*10px*/
  font-family: Montserrat-Light;
}

.introduce .name_m {
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  font-size: 1.38em; /*22px*/
  color:#f6917f;
}

.introduce .name_w {
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  font-size: 1.38em; /*22px*/
  color: #8bacbb;
}

.introduce .legendtext_w {
  font-family: Montserrat-Regular;
  font-size: 0.75em; /*12*/
  color: #8bacbb;
}
.introduce .legendtext_m {
  font-family: Montserrat-Regular;
  font-size: 0.75em; /*12*/
  color: #f6917f;
}


/* *************** FUCKING SECTION PUZZLE ******************/

.jobs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jobsleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1%;
}

.jobsright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.jobsrightup {
    max-width: 100%;
}

.jobsrightdown {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.jobs figcaption {
  color: #fff;
  font-family: Montserrat-Regular;
  font-size: 1.25em; /*20*/
  text-align: center;
}

figcaption h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat-Bold;
  text-align: center;
  font-size: 1.25em; /*20*/
}

.figmaquillage::before {
  content: 'métiers';
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255, .7);
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 1.25em; /*20*/
  font-weight: bold;
  padding: .75em 2.19em; /*35 12*/
  left: 20%;
}

.figmaquillage {
  position: relative;
}

.maquillage {
  position: absolute;
  width: 87%;
  bottom: -20%;
  left: 6%;
}

.figsculpture::before {
  content: 'snmof';
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255, .7);
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 1.25em; /*20*/
  font-weight: bold;
  padding: .75em 2.19em; /*35 12*/
  left: 20%;
}

.figsculpture {
  position: relative;
  margin-top: 33%;
}

.sculpture {
  position: absolute;
  width: 90%;
  bottom: -17%;
  left: 5%;
}

.figevent::before {
  content: 'événements';
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255, .7);
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 1.25em; /*20*/
  font-weight: bold;
  padding: .75em 2.19em; /*35 12*/
  left: 38%;
}

.figevent {
  position: relative;
}

.event {
  position: absolute;
  width: 94%;
  bottom: -55%;
  left: 3%;
}

.figcook::before {
  content: 'concours';
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255, .7);
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 1.25em; /*20*/
  font-weight: bold;
  padding: .75em 2.19em; /*35 12*/
  left: 35%;
}

.figcook {
  position: relative;
}

.cook {
  position: absolute;
  width: 90%;
  bottom: -12%;
  left: 5%;
}

.fighair::before {
  content: 'métiers';
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255, .7);
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 1.25em; /*20*/
  font-weight: bold;
  padding: .75em 2.19em; /*35 12*/
  left: 22%;
}

.fighair {
  position: relative;
}

.hair {
  position: absolute;
  width: 90%;
  bottom: -12%;
  left: 5%;
}

figcaption {
  color: #fff;
}

.legendB {
  background-color: #8bacbb;
  padding-bottom: 0.69em; /*11*/
	transition: .2s;
}

.legendR {
  background-color: #f6917f;
  padding-bottom: .69em;
	transition: .2s;
}

.legendR:hover {
  background-color: #ea5954;
}

.legendB:hover {
	background-color: #154f6d;
}

.devise {
  margin-top: 2em;
  font-size: 3.13em; /*50*/
  color: #ea5954;
	font-family: Satisfy-Regular;
  font-style: italic;
}

/***************** FOOTER *************/

.footer {
  background-color: #737373;
  color: #d7d7d7;
}

.footer .footertitle {
  text-transform: uppercase;
  font-size: .5em;
  padding-top: .81em; /*13*/
  padding-bottom: 1.63em; /*26*/
}

.footer .footerblocks {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 2.94em; /*47*/
  flex-wrap: wrap;
}


.footer h6 {
  font-size: 1.75em; /*28*/
  text-transform: uppercase;
  font-family: Knewave-Regular;
}

.footer p {
  font-family: Montserrat-regular;
  text-transform: uppercase;
  font-size: .63em; /*10*/
}

.footer input, .footer button {
  color: #000;
}

.concours, .letters, .supportus, .magazine {
  border-right: 1px #d7d7d7 solid;
}

.concours, .letters, .supportus, .magazine, .staytuned {
  padding: 1em;
}
.endfooter {
  background-color: #3d3d3d;
  font-family: Montserrat-regular;
  font-size: .75em; /*12*/
  text-transform: uppercase;
  text-align: center;
}

.medal {
	display: block;
	background-image: url('../img/medal.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 40px 79px;
	width: 35px;
	height: 40px;
}

.support {
	display: block;
	background-image: url('../img/heart.svg');
	background-position: 0 0;
	background-size: 40px 79px;
	width: 40px;
	height: 34px;
}

.mofletters {
	display: block;
	background-image: url('../img/letter.svg');
	background-position: 0 0;
	background-size: 40px 79px;
	width: 39px;
	height: 26px;
}

.mofmag {
	display: block;
	background-image: url('../img/mag.svg');
	background-position: 0 0;
	background-size: 40px 79px;
	width: 39px;
	height: 32px;
}

.mofmag, .mofletters, .support, .medal {
	margin: 1em auto;
}

.medal:hover {
	background-position-y: -40px;
}

.support:hover {
	background-position-y: -34px;
}

.mofletters:hover {
	background-position-y: -25px;
}

.mofmag:hover {
	background-position-y: -32px;
}

.network {
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
}

.rs_btn{
	background-image: url("../img/socialnetwork.svg");
	background-repeat: no-repeat;
	background-position:0 0;
	background-size:212px 210px;
	height: 26px;
	width: 32px;
	display: block;
}

.rs_btn span{
	visibility: hidden;
}

.rs_btn:hover{
	background-position-y: -26px;
}
.tw {
	background-position: -48px 0;
}
.fb{
	background-position: -76px 0;
}

.yt{
	background-position: -107px 0;
}

.inst{
	background-position: -136px 0;
}


.endfooter a {
  display: block;
  padding-top: 0.63em; /*10*/
  color: #fff;
}
